.App {
  text-align: center;
  background-color: yellow;
}
.allInstruments {
  background-color: aqua;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.allInstruments > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.allInstruments > div > div {
  width: 100%;
}

.allInstruments > div > div:first-child {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.allInstruments > div > div:last-child {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.eachCard {
  background-color: orange;
}
.title {
  font-size: 55px;
}
.inputMakeInstruments {
  margin: 0 auto;
  padding: 20px;

  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: left;
}

.inputMakeInstruments input {
  margin: 0 10px;
}
.inputBox {
  padding: 12px;
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column; */
}
.boxofInstruments {
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: right;
  align-content: right;
  flex-direction: column;
  background-color: green;
}
